<!doctype html>
<html>
<head>
    <title>Lyric Collab</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/7305c071a8.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Koulen&family=Mukta:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <% if(lines === undefined){lines = ""} %>
<div class="container">

    <div class="page-header text-center">
        <h1>Lyric Collab</h1>
        <a href="/profile" class="btn btn-default btn-sm deleteAuthorLines">Delete Your Inputs</a>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
        <a href="/profile" class="btn btn-default btn-sm deleteAll">Clear Song</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        

        <h3>Add a line to the song</h3>
        <% if (user.local.email) { %>
          <form action="/postLine" method="POST">
            <input type="text" placeholder="Name" name="name">
            <input type="text" placeholder="Story Line" name="line">
            <button type="submit">Submit</button>
          </form>
        </div>
        <% } %>


        <div class="col-sm-6">
          <div class="lines">
          <% for(var i=0; i<lines.length; i++) {%>
              <p class="storyLine">
                <span class="author"> [<%= lines[i].name %>]  </span> 
                <span><%= lines[i].line %></span> 
                <span><%= lines[i].thumbUp %></span> 
                <span><i class="fa fa-fire" aria-hidden="true"></i></span>
              </p>
          <% } %>
        </div>
        <i class=""></i>
</div>

<script src="main.js"></script>

</body>
</html>
